/*

*/

/*colores
#FCFCFC;
#F9F9FA
#009D71
#E1E2EA 
*/
body{
  font-family: roboto;
  width: 100%;
  min-height: 100%;
  margin: 0;
}
p{
  font-size: 14px;
  margin: 0px;
}
.bold{
  font-weight: bold;
}

.center{
  text-align: center;
}
/*-----
Navbar
-----*/
#navbar{
  width: 100%;
  height: 8%;
  position: absolute;
  padding: 5px;
  z-index: 1;
  box-sizing: border-box;
  background-color: #0078a7;
  /*box-shadow: 1px 14px 73px -9px rgba(153,147,153,1);*/ 
}

.nav-back{
  width: 10%;
  height: 100%;
  position: absolute;
}

.nav-title{
  width: 80%;
  height: 100%;
  position: relative;
  left: 10%;
  text-align: center;
  display: table;
}

.title{
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
}


/*--------------------
 Tabs
--------------------*/
.tabs{
  width: 100%;
  height: 5%;
  position: absolute;
  top: 8%;
  background-color: #FFFFFF;
  text-align: center;
  display: table;
}
.tab-opt{
  width: 50%;
  height: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  border: none;
  background: #FFFFFF;
  border-bottom: 1px solid #ddd;
}
.tab-opt:active{ 
  background-color: #0078a7;
  color: #FFFFFF;
}

.cont-tabs{
  width: 100%;
  height: 79%;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 13%;
  overflow: auto;
  background-color: #F9F9FA;
}
/*--------------------
contenedor - contenido
--------------------*/
#contenedor{
  width: 100%;
  height: 84%;
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 8%;
  overflow: auto;
  background-color: #F9F9FA;
}

.col-4{
  width: 40%;
  height: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  float: left;
}
.col-12{
  width: 100%;
  height: 100%;
  position: relative;
}
.ticket-cont{
  width: 100%;
  height: 20%;
  position: relative;
  float: left;
}
.img-ticket{
  width: 40px;
  height: 40px;
}

/*----------
 Cards
----------*/
.card{
  position: relative;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 15px;
  -webkit-box-shadow: -4px 11px 59px -7px rgba(153,147,153,1);
  -moz-box-shadow: -4px 11px 59px -7px rgba(153,147,153,1);
  box-shadow: -4px 11px 59px -7px rgba(153,147,153,1);
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.card-title{
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.icon-ticket{
  width: 20%;
  height: 100%;
  position: relative;
  float: left;
}

.time{
  color: #0078a7;
  font-size: 1.2em;
  font-weight: bold;
}

.time-cart{
  width: 100%;
  height: 20%;
  position: relative;
  border-radius: 10px;
  color: white;
}


/* ----------------
      menú
-----------------*/
#menu{
  width: 100%;
  height: 8%;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
  bottom: 0;
  -webkit-box-shadow: 0px -9px 33px -15px rgba(153,147,153,1);
  -moz-box-shadow: 0px -9px 33px -15px rgba(153,147,153,1);
  box-shadow: 0px -9px 33px -15px rgba(153,147,153,1);
}

.cont-icon{
  width: 25%;
  height: 100%;
  padding: 5px;
  float: left;
  box-sizing: border-box;
}

.menu-icon{
  width: 30px;
  height: 30px;
  display: block;
  margin: 5px auto;
}

/*
botones
*/

.btn{
  padding: 7px;
  user-select: none;
  border-radius: 25px;
  border: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-sizing: border-box;
  display:inline-block;
  cursor:pointer;
  text-decoration:none;
  color: #FFFFFF;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*
colores
*/
.bg-verde{
  background-color: #009D71;
}
.bg-purple{
  background-color: #933ec5;
}
